{% extends 'base.html' %}
{% load static %}

{% block title %}
Editor | SketchRoute
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/editor.css' %}">
{% endblock %}

{% block content %}

<div class="editor-layout">

    {% include 'plans/sidebar.html' %}

    <div class="workspace">

        {% include 'plans/toolbar.html' %}

        <div class="canvas-wrapper">
            <canvas id="editorCanvas"></canvas>
        </div>

    </div>

</div>

{% endblock %}

{% block extra_scripts %}

<script>
    const SAVED_DATA = null;
</script>

<script src="https://cdn.jsdelivr.net/npm/fabric@5/dist/fabric.min.js"></script>

<script src="{% static 'js/canvas.js' %}"></script>

{% endblock %}