<aside class="sidebar">

    <h2>Herramientas</h2>

    <button
        class="tool-btn active"
        onclick="setTool('select', this)">
        🖱 Seleccionar
    </button>

    <button
        class="tool-btn"
        onclick="setTool('wall', this)">
        🧱 Muro
    </button>

    <button
        class="tool-btn"
        onclick="setTool('door', this)">
        🚪 Puerta
    </button>

    <button
        class="tool-btn"
        onclick="setTool('exit', this)">
        🚨 Salida
    </button>

    <button
        class="tool-btn"
        onclick="setTool('route', this)">
        ➡ Ruta
    </button>

</aside>